configuration {
    modi: [drun,window];        
    
}
//@theme "/home/accelauser/.config/rofi/themes/main.rasi"
//@theme "/home/accelauser/.config/rofi/themes/main.rasi"
@theme "/home/accelauser/.config/rofi/themes/drun.rasi"
